{% extends 'base.html.twig' %}

{% block title %}NAO - Forgotten Password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forgottenPassword.css') }}">
{% endblock %}

{% block body %}

    {% for flash in app.flashes('notif') %}
        <div class="row">
            <div class="card red darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Erreur</span>
                    <p>{{ flash }}</p>
                </div>
                <div class="card-action">
                    <a href="#" onclick="dismiss()">Fermer</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row" id="loginPanel">
        <div class="card-panel grey lighten-4 hoverable col s8 offset-s2">
            <div class="row" style="padding-top: 6%; padding-bottom: 3%">

                <div class="row">
                    <div class="col s10 offset-s1 center">

                        <p>Veuillez confirmer votre adresse email</p>

                        {{ form_start(form) }}

                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_widget(form.email, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {% if form.email.vars is defined %}
                                {% for error in form.email.vars.errors.form.getErrors(true) %}
                                    <span class="helper-text" data-error="{{ error.message }}" data-success="">
                                {{ error.message }}
                            </span>
                                {% endfor %}
                            {% else %}
                                {{ form_label(form.email.email) }}
                            {% endif %}
                        </div>

                        <button class="btn waves-effect waves-light orange darken-1" type="submit" name="action">Envoyer
                            <i class="material-icons right">send</i>
                        </button>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        M.updateTextFields();
        function dismiss() {
            let alert = document.getElementById("alert");
            alert.remove();
        }

    </script>
{% endblock %}
