{% extends 'base.html.twig' %}

{% block title %}NAO - Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="row" id="loginPanel">
    <div class="card-panel grey lighten-4 hoverable col s8 offset-s2">
        <div class="row" style="padding-top: 6%; padding-bottom: 3%">

            <div class="row">
                <div class="col s10 offset-s1 center">
                    <a class="waves-effect waves-light btn cyan lighten-2 black-text" href="{{ path('social_google') }}"><i class="fab fa-google-plus-g"> </i> Google</a>
                    <a class="waves-effect waves-light btn cyan lighten-2 black-text" href="{{ path('social_facebook') }}"><i class="fab fa-facebook-f"> </i> Facebook</a>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 center">

                    {{ form_start(login_form, {'action': path('security_login')}) }}

                        <div class="input-field">
                            {{ form_widget(login_form.email, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(login_form.email) }}
                        </div>

                        <div class="input-field">
                            {{ form_widget(login_form.password, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(login_form.password) }}
                        </div>

                        <button class="btn waves-effect waves-light cyan lighten-2 black-text" type="submit" name="action">Se connecter
                            <i class="material-icons right">send</i>
                        </button>
                    {{ form_end(login_form) }}

                    <a href="{{ path('security_forgottenpassword') }}">Mot de passe oublié ?</a>

                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 center">

    {{ form_start(register_form) }}
                    <div class="input-field">
                        {{ form_widget(register_form.email, {
                            'attr':{
                                'class':'validate'
                            }
                        }) }}
                        {{ form_label(register_form.email) }}
                    </div>

                    <div class="input-field">
                        {{ form_widget(register_form.password.first, {
                            'attr':{
                                'class':'validate'
                            }
                        }) }}
                        {{ form_label(register_form.password.first) }}
                    </div>

                    <div class="input-field">
                        {{ form_widget(register_form.password.second, {
                            'attr':{
                                'class':'validate'
                            }
                        }) }}
                        {{ form_label(register_form.password.second) }}
                    </div>
    <button class="btn waves-effect waves-light cyan lighten-2 black-text" type="submit" name="action">S'enregistrer
        <i class="material-icons right">send</i>
    </button>
    {{ form_end(register_form) }}

                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 center">
                    <a class="waves-effect cyan darken-3 waves-light btn" href="/logout"><i class="material-icons right"> close</i> Se déconnecter
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        M.updateTextFields();

        {% for flash in app.flashes('login') %}
            $(function() {
                M.toast({html: '<span>{{ flash }}</span>'});
            });
        {% endfor %}

    </script>
{% endblock %}
