{% extends 'base.html.twig' %}

{% block title %}NAO - Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

<div class="row" id="loginPanel">
    <div class="card-panel grey lighten-4 hoverable col s8 offset-s2">
        <div class="row" style="padding-top: 6%; padding-bottom: 3%">

            <div class="row">
                <div class="col s10 offset-s1 center">
                    <a class="waves-effect waves-light btn cyan lighten-2 black-text" href="{{ path('social_google') }}"><i class="fab fa-google-plus-g"> </i> Google</a>
                    {#<a class="waves-effect waves-light btn cyan lighten-2 black-text" href="{{ path('social_facebook') }}"><i class="fab fa-facebook-f"> </i> Facebook</a>#}
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 center">

                    {{ form_start(login_form, {'action': path('security_login')}) }}

                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_widget(login_form.email, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(login_form.email) }}
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_widget(login_form.password, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(login_form.password) }}
                        </div>

                        <button class="btn waves-effect waves-light cyan lighten-2 black-text" type="submit" name="action">Se connecter
                            <i class="material-icons right">send</i>
                        </button>
                    {{ form_end(login_form) }}

                    <a href="{{ path('security_forgottenpassword') }}">Mot de passe oublié ?</a>

                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 center">

                    {{ form_start(register_form) }}

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form_widget(register_form.email, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(register_form.email) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_widget(register_form.password.first, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(register_form.password.first) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">mode_edit</i>
                            {{ form_widget(register_form.password.second, {
                                'attr':{
                                    'class':'validate'
                                }
                            }) }}
                            {{ form_label(register_form.password.second) }}
                        </div>
                    </div>

                    {% if register_form.vars.errors.form.getErrors(true) is not empty %}
                            <div class="row">
                                <div class="col s8 offset-s2 center">
                                    <div class="card-panel red darken-2 white-text">
                                        <i class="material-icons" style="position: relative; top: 5px;">priority_high</i>
                                        <ul>
                        {% for error in register_form.vars.errors.form.getErrors(true) %}
                                            <li>{{ error.message }}</li>
                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    {% endif %}

                    <p>
                        <label>
                            <input id="concent" type="checkbox" required="required"/>
                            <span>En créant un compte, vous acceptez les conditions générales d'utilisation disponibles <a href="{{ path('app_confidentiality') }}">ici</a>.</span>
                        </label>
                    </p>

                    <button id="submitBtn" class="btn waves-effect waves-light cyan lighten-2 black-text" type="submit" name="action">S'enregistrer
                        <i class="material-icons right">send</i>
                    </button>



                    {{ form_end(register_form) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        M.updateTextFields();

        {% for flash in app.flashes('login') %}
            $(function() {
                M.toast({html: '<span>{{ flash }}</span>'});
            });
        {% endfor %}

    </script>
    <script src="{{ asset('/js/login.js') }}"></script>
{% endblock %}
