{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/actualite.css') }}">
    <meta name="description" content="Toute l'information ornithologique rédigée par
    des spécialistes : conseils d'identification des espèces, bonnes pratiques d'observation,
    agenda et articles de fond.">
{% endblock %}

{% block title %}
    Actualités - NAO (Nos Amis les Oiseaux)
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col l12 m12 s12" id="subHeader">
            <div class=" col l2 m2 s2">
                <p id="slogan">
                    Nos amis les oiseaux
                </p>
            </div>

            <div class="col m8 s12" id="header">
                <h1 class="col m10 offset-m1 s12 header_text">
                    Le blog
                </h1>
            </div>
        </div>

        <div class="input-field col l10 offset-l1 m10 offset-m1 s12" id="search-container">
            <input class="col l8 offset-l2 m8 offset-m2 s12 autocomplete"
                   type="text"
                   placeholder="Champ de Recherche"
                   id="search"
                   autocomplete="off"
            />
        </div>

        <div class="col l10 offset-l1 m10 offset-m1 s12">
            <div class="col l4 m4 s12">
                <div class="card grey lighten-5"  id="head-card">
                    <div class="card-content">
                        <h2 id="first-article-title">Sur le perchoir</h2>
                        <p id="head-img-container">
                            <img class="circle" id="head-img" src="{{
                            lastPost.miniature }}">
                        </p>
                        <h2 class="card-title" id="head-article-title">{{ lastPost.title
                            }}</h2>
                        <p>
                            <em>{% if lastPost.author.nickName is not null %}
                                    {{ lastPost.author.nickName }}
                                {% else %} nc {% endif %}
                            </em>
                        </p>
                        <p class="chip">{{ lastPost.category }}</p>
                        <p>crée le : <em>{{ lastPost.createdAt|date('d-M-Y à H-m-s') }}
                            </em>
                        </p>
                        <p class="truncate" id="head-content">{{ lastPost.content }}</p>
                        <a href="{{ path('app_read_article', {'id' : lastPost.id} ) }}"
                           class="btn-floating halfway-fab waves-effect waves-light orange
                        darken-1 btn-card"><i class="material-icons">add</i></a>
                        <a id="head-article-link" href="{{ path('app_read_article', {'id' : lastPost
                            .id} ) }}">en lire plus</a>
                    </div>
                    <div class="card-action">
                        <div id="heart-infos" class="head-link" data-url="{{ path('get_favoured') }}">
                            <span class="js-like-post-count" style="position: relative; bottom: 8px; font-size: 12px">{{ lastPost.favouredBy.count }}</span>
                            {% if is_granted('ROLE_USER')%}
                            <a class="toggle-heart" href="{{ path('toogle_post_heart', {id: lastPost.id}) }}">
                                <i id="postheart" data-id="{{ lastPost.id }}" class="material-icons head-heart">favorite_border</i>
                                <img id="ajaxLoading" src="{{ asset('img/ajaxLoader/ajaxloader.gif') }}" style="display: none; margin-bottom: 4px;">
                            </a>
                            {% else %}
                                <a href="{{ path('security_login') }}">
                                    <i class="material-icons" style="color: #EB5757">favorite_border</i>
                                </a>
                            {% endif %}
                            <a href=""><i class="material-icons head-share">share</i></a>
                        </div>
                    </div>
                </div>
                <ul class="collapsible grey lighten-5" id="category">
                    <li>
                        <div class="collapsible-header grey lighten-5">
                            <h2 id="category-title">Catégories</h2>
                        </div>
                        <div class="collapsible-body">
                            <ul id="category-list">
                               <li>
                                   <p class="category-head-link">vie de l'association</p>
                                   <ul>
                                       <li><a href="#" data-cat="CRAG" class="category-link">CR,
                                               AG</a></li>
                                       <li><a href="#" data-cat="benevola" class="category-link">Bénévolat,
                                               partenariat</a></li>
                                       <li><a href="#" data-cat="facts" class="category-link">faits marquants</a></li>
                                   </ul>
                               </li>
                                <li>
                                    <p class="category-head-link">Événement</p>
                                    <ul>
                                        <li><a href="#" data-cat="agenda" class="category-link">Agenda asso</a></li>
                                        <li>
                                            <a href="#" data-cat="autres" class="category-link">
                                                Autres  : exemple "Fête de la nature", we Oiseaux des jardins
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <p class="category-head-link">L’art d'observer les oiseaux</p>
                                    <ul>
                                        <li><a href="#" data-cat="places" class="category-link">Lieux, balades</a></li>
                                        <li><a href="#" data-cat="birdwatcher" class="category-link">Attitude du birdwatcher</a></li>
                                        <li><a href="#" data-cat="gear" class="category-link">équipement</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" data-cat="bird"
                                       class="category-head-link">Identifier un oiseau (comment reconnaître un .... ?)</a></li>
                                <li>
                                    <p class="category-link">Ornithologie sans frontières</p>
                                    <ul>
                                        <li><a href="#" data-cat="exoticbirds" class="category-link">Oiseaux exotiques</a></li>
                                        <li><a href="#" data-cat="travel" class="category-link">Voyages, expériences ornithologiques</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="category-head-link">Biodiversité / environnement</p>
                                    <ul>
                                        <li><a href="#" data-cat="preserv" class="category-link">Zones à préserver</a></li>
                                        <li><a href="#" data-cat="farming" class="category-link">Agriculture, jardinage, conseils pratiques</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p class="category-head-link">Programmes de recherche et
                                        publications</p>
                                    <ul>
                                        <li><a href="#" data-cat="program" class="category-link">Programmes de recherche en cours</a></li>
                                        <li><a href="#" data-cat="document" class="category-link">documents scientifiques</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="collapsible grey lighten-5" id="newsletter">
                    <li>
                        <div class="collapsible-header grey lighten-5" id="newsletter-title-container">

                            <h2 id="newsletter-title">Abonnez-vous à la newsletter</h2>
                        </div>
                        <div class="collapsible-body" id="newsletter-body">
                            <p id="newsletter-form">
                            <input type="email" placeholder="votre email" id="email"/><br>
                            <button class="btn waves-effect" type="submit">envoyer</button><br>
                            <label id="">
                                <input type="checkbox" id=""/>
                                <span id="newsletter-span">J'accepte que mon email soit utilisé
                                    pour m'adresser
                            la newsletter et j'ai bien pris connaissance de la politique de confidentialité de
                                    <a id="newsletter-span-link" href="{{ path('app_confidentiality') }}">nao.</a></span>
                            </label>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col l8 m8 s12" id="article">
                {% for post in posts %}
                    <div class="col l6 m6 s12">
                        <div class="card" id="article-card">
                            <div class="card-image">
                                <img src="{{ post.img }}">
                                <h2 class="card-title" id="article-card-title">{{ post.title }}</h2>
                            </div>
                            <div class="card-content">
                                <p>auteur : <em>{% if lastPost.author.nickName is not null %}
                                            {{ lastPost.author.nickName }}
                                        {% else %} nc {% endif %}</em></p>
                                <p class="chip">{{ post.category }}</p>
                                <p>crée le : <em>{{ post.createdAt|date('d-M-Y à H-m-s') }}
                                    </em>
                                </p>
                                <p class="truncate">I am a very simple card. I am good at containing
                                    small bits
                                    of information. I am convenient because I require little markup to use effectively.</p>
                                <a id="head-article-link"
                                    href="{{ path('app_read_article', {'id' : post.id} ) }}">en lire plus
                                </a>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('app_read_article', {'id' : post.id} ) }}"
                                    class="btn-floating halfway-fab waves-effect waves-light
                                    orange darken-1 btn-card">
                                    <i class="material-icons">add</i>
                                </a>
                                <div class="head-link">
                                    <span class="js-like-post-count" style="position: relative; bottom: 8px; font-size: 12px">{{ post.favouredBy.count }}</span>
                                    {% if is_granted('ROLE_USER')%}
                                    <a class="toggle-heart" href="{{ path('toogle_post_heart', {id: post.id}) }}">
                                        <i id="postheart" data-id="{{ post.id }}" class="material-icons head-heart">favorite_border</i>
                                        <img id="ajaxLoading" src="{{ asset('img/ajaxLoader/ajaxloader.gif') }}" style="display: none; margin-bottom: 4px;">
                                    </a>
                                    {% else %}
                                        <a href="{{ path('security_login') }}">
                                            <i class="material-icons" style="color: #EB5757">favorite_border</i>
                                        </a>
                                    {% endif %}
                                    <a href=""><i class="material-icons head-share">share</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/actuality.js') }}"></script>
{% endblock %}


