{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            <div class="col m10 offset-m1 s12">


                        <div class="input-field col l10 offset-l1 s12 m12">
                            <span class="label" id="label1">Titre de l'article</span>
                            {{ form_widget((form.title)) }}
                            <span class="form_errors">{{ form_errors(form.title) }}</span>
                        </div>

                        <div class="input-field col l10 offset-l1 s12 m12">
                            <span class="label">votre article</span>
                            {{ form_widget(form.content) }}
                            <span class="form_errors">{{ form_errors(form.content) }}</span>
                        </div>

                        <div class="input-field col l10 offset-l1 s12 m12">
                            <span class="label"></span>
                            {{ form_widget(form.category) }}
                            <span class="form_errors">{{ form_errors(form.category) }}</span>
                        </div>

                        <div class="file-field input-field col l8 offset-l2 m12 s12" id="divUpBtn">
                            <div><span class="form_errors" id="error-img">{{ form_errors(form.miniature)
                                    }}</span></div>
                            <div class="btn" id="uplBtn">
                                <span>Télécharger une miniature</span>
                                {{ form_widget(form.miniature) }}
                            </div>
                        </div>

                        <div class="file-field input-field col l8 offset-l2 m12 s12" id="divUpBtn">
                            <div><span class="form_errors" id="error-img">{{ form_errors(form.img)
                                    }}</span></div>
                            <div class="btn" id="uplBtn">
                                <span>Télécharger une photo</span>
                                {{ form_widget(form.img) }}
                            </div>
                        </div>

                        <div class="input-field col l8 offset-l2 m12 s12" id="divSubBtn">
                            <button id="submitBtn" formnovalidate="formnovalidate" class="btn
                            waves-effect waves-light col s10"
                                    type="submit">
                                Envoyer votre article
                            </button>
                        </div>

                        <div class="input-field col m10 offset-m1 message">
                            {% for message in app.flashes('notice') %}
                                <img id="notice_decoration" src="{{ asset('/img/vector/polygon.png') }}"/>
                                <div class="flash-notice">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>

            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('tinymce/js/tinymce/tinymce.min.js') }}'></script>
    <script src="{{ asset('js/addPost.js') }}"></script>
{% endblock %}