<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NAO{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>

    <nav>
        <ul id="dropdown_profile" class="dropdown-content">
            <li><a href="{{ path('app_profile') }}">Profil</a></li>
            <li><a href="/logout">Se déconnecter</a></li>
        </ul>
        <ul id="dropdown_observe" class="dropdown-content">
            <li><a href="#">Dernières observations</a></li>
            <li><a href="{{ path('app_observe') }}">Saisie d'une observation</a></li>
            <li><a href="#">Carte</a></li>
        </ul>
        <ul id="dropdown_discover" class="dropdown-content">
            <li><a href="#">NAO</a></li>
            <li><a href="#">Les oiseaux</a></li>
        </ul>
        <div class="nav-wrapper cyan lighten-2">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown_observe">Observer
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown_discover">Découvrir
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
                <li><a href="#" class="black-text">Actualités</a></li>
                <li><a href="#" class="black-text">Contact</a></li>
                <li><a href="{{ path('security_login') }}" class="black-text">Login</a></li>
            </ul>
            <a class="brand-logo center">
                <h5 class="black-text">LOGO NAO</h5>
            </a>
            {% if is_granted('ROLE_USER') %}
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a class="dropdown-trigger" href="{{ path('app_profile') }}" data-target="dropdown_profile">
                            <img id="profile" src="{% if app.user.img %}{% if app.user.img matches '/^https?:/' %}{{ app.user.img }}{% else %}{{ app.user.img | imagine_filter('squared_thumbnail') }}{% endif %}{% else %}{{ '#' }}{% endif %}" alt="" class="responsive-img">
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ path('app_home') }}">NAO</a></li>
        <li><a href="{{ path('app_observe') }}">Observer</a></li>
        <li><a href="#">Découvrir</a></li>
        <li><a href="#">Actualités</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{{ path('security_login') }}">Login</a></li>
    </ul>

    <body>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
                    crossorigin="anonymous">
            </script>
            <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            <script>
                M.AutoInit();
                $(function() {
                    $('.sidenav').sidenav();
                    $(".dropdown-trigger").dropdown();
                });
            </script>
        {% endblock %}
    </body>
</html>
