<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NAO{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>

    <nav>
        <ul id="dropdown_profile" class="dropdown-content">
            <li><a href="{{ path('app_profile') }}">Profil</a></li>
            <li><a href="/logout">Se déconnecter</a></li>
        </ul>
        <ul id="dropdown_observe" class="dropdown-content">
            <li><a href="#">Dernières observations</a></li>
            <li><a href="{{ path('app_observe') }}">Saisie d'une observation</a></li>
            <li><a href="{{ path('app_map') }}">Carte</a></li>
        </ul>
        <ul id="dropdown_discover" class="dropdown-content">
            <li><a href="#">NAO</a></li>
            <li><a href="#">Les oiseaux</a></li>
        </ul>
        <div class="nav-wrapper cyan lighten-2">

            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown_observe">Observer
                    </a>
                </li>
                <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown_discover">Découvrir
                    </a>
                </li>
                <li><a href="#" class="black-text">Actualités</a></li>
                <li><a href="{{ path('app_contact') }}" class="black-text">Contact</a></li>

                {% if is_granted('ROLE_USER') == false %}
                <li><a href="{{ path('security_login') }}" class="black-text">Login</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href="{{ path('app_profile') }}" class="dropdown-trigger black-text"  data-target="dropdown_profile"><i class="material-icons">person</i>Compte</a>
                </li>
                {% endif %}

            </ul>
            <a class="brand-logo left" href="{{ path('app_home') }}">
                <img id="logo" src="{{ asset('/img/logo/logo .png') }}">
            </a>


        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ path('app_home') }}">NAO</a></li>
        <li><a href="{{ path('app_observe') }}">Observer</a></li>
        <li><a href="#">Découvrir</a></li>
        <li><a href="#">Actualités</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="{{ path('security_login') }}">Login</a></li>
    </ul>

    <body>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.3.1.js">
            </script>
            <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            <script>
                M.AutoInit();
                $(function() {
                    $('.sidenav').sidenav();
                    $(".dropdown-trigger").dropdown(
                        { hover: true }
                    );
                });
            </script>
        {% endblock %}

    <footer id="footer">

    </footer>
    </body>
</html>
