{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}

{% block title %}Observer les oiseaux, préserver la diversité{% endblock %}

{% block body %}
<div class="row">

    <div class="col l12 m12 s12" id="subHeaer">
        <div class=" col l2 m2 s2">
            <p id="slogan">
                Nos amis les oiseaux
            </p>
        </div>
        <div class=" col l8 m8 s12" id="header">
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>


    <div class="col l8 offset-l2 m8 offset-m2 s12" id="first">
        <div id="background-un"><h1 id="subTitle-un">DÉCOUVRIR</h1></div>

        <h1 class="title">L'Ornithologie, une science
            populaire</h1>
        <p class="paraph">
            L’ornithologie, ou science de l’étude des oiseaux sauvages, s’est toujours appuyée
            sur les observations de réseaux d’amateurs passionnés. Elle se nourrit de votre
            plaisir à décrire et reconnaître ces multiples plumages, d’y associer un vol ou
            un comportement, de localiser une espèce et bien sûr, d’échanger et de partager ses connaissances.
            Ce lien historique et singulier entre professionnels -les naturalistes- et “ornithos”
            amateurs ou débutants prend tout son sens avec l’expression “science populaire”.
        </p>
        <p class="paraph">
            <a class="first-link" href="{{ path('app_home') }}">Nos Amis les Oiseaux</a>, c'est
                    l'expression de cette particularité : même
                    si ce  site est tout d’abord un outil de terrain pratique et simple pour
            compiler et partager vos observations, c’est également un "lieu unique" pour tous les
            amoureux de la nature qui ont envie de participer, ensemble,
                à préserver la diversité biologique.<br><br>
            <span class="bold-text">Apprenez-en plus sur notre association, ses valeurs, ses actions</span>
        </p>
        <div>
            <a class="col l4 offset-l4 m4 offset-m4 s12 waves-effect waves-light btn"
               id="linkBtn" href="{{ path('app_discover_nao') }}">Découvrez nos actions
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l12 m12 s12" id="separator">
         <div id="round-div">
           <p id="round-text">
                “ Le peu qu'on peut faire, le très peu qu'on peut faire, il faut le faire  “
            </p>
        </div>
        <p class="col s10 offset-s1" id="text-separator">“Participer ensemble à préserver la diversité biologique  “
        </p>
    </div>
</div>
<div class="row">
    <div class="col l8 offset-l2 m8 offset-m2 s12" id="participate-div">
        <h1 class="title" id="title-deux">Les sciences collaboratives et
            <a class="first-link" href="{{ path('app_home') }}">NAO</a></h1>
        <p class="paraph_deux">
            Parce que du plaisir à la recherche, il n’y avait plus qu’un -tout petit- pas pour
            les membres de l’association, NAO a décidé de le franchir. Elle s'est donc associée
            au programme scientifique qui vise à étudier les effets du climat, de l’urbanisation
            et de l’agriculture sur la biodiversité. Cette étude scientifique repose sur le
            recueil d’un volume important de données fiables. C’est pourquoi la participation
            de tous est la bienvenue !
        </p>
        <p class="paraph_deux">
            Vous  aussi, durant vos balades avec vos enfants, entre amis ou en rando
            avec votre club ou encore si vous exercez une activité professionnelle en
            plein air, vous pouvez agir pour la planète en participant à cette grande
            étude nationale éco citoyenne.
        </p>
        <p class="paraph_deux">
            Nul besoin de connaissances très pointues, ni de matériel coûteux ou sophistiqué,
            il vous suffit de suivre le guide :
        </p>
        <div id="participate_group">
            <h1 id="participate">PARTICIPER</h1>
        </div>
    </div>

</div>

<div class="row">
    <div id="separator-deux">
        <div class="col l6 infog">
            <h3 class="col l10 offset-l2 m10 offset-m2 s12">
                Et si vous étiez notre prochain birder en titre ?
            </h3>
            <p class="col l10 offset-l2 m10 offset-m2 s12">
                Au fil de vos observations, vous cumulez des points et vous
                gagnez en expérience. Vous faites évoluer votre
                statut d’observateur.
            </p>
            <a class="col l6 offset-l3 m6 offset-m3 s12 waves-effect waves-light btn"
               id="infog_linkBtn" href="{{ path('app_observe') }}">
                Saisissez votre 1ère
                observation !
            </a>
        </div>
    </div>
</div>

<div id="observatory" class="row">
    <div id="observatory_title" class="col s10 offset-s1">
        <h2>L'observatoire</h2>
    </div>
    <div class="col s12" id="observatory_observation">
        {% if lastPost %}
        <div id="postcard" class="col s12 l4">
            <div class="card row">
                <div class="card-image">
                    <img src="{{ lastPost.img }}">
                    <span class="card-title">{{ lastPost.title }}</span>
                </div>
                <div class="card-content">
                    <p class="short"><strong class="short-head">Description :
                        </strong><br>{{ lastPost.shortDesc }}</p>
                    </div>
                    <div class="divider"></div>
                    <div class="row" style="margin: 10px 0 0 0;">
                        <div class="col s8">
                            <a href="{{ path('app_read_article', {id: lastPost.id}) }}" >lire</a>
                        </div>
                        <div class="col s4 right-align">
                            <span class="js-like-post-count" style="position: relative; bottom: 8px; font-size: 12px">{{ lastPost.favouredBy.count }}</span>
                             {% if is_granted('ROLE_USER')%}
                             <a class="js-like-post" href="{{ path('toogle_post_heart', {id: lastPost.id}) }}">
                                <i id="postheart" data-url="{{ path('get_favoured') }}" data-id="{{ lastPost.id }}" class="material-icons" style="color: #EB5757">favorite_border</i>
                                <img id="ajaxLoading" src="{{ asset('img/ajaxLoader/ajaxloader.gif') }}" style="display: none; margin-bottom: 4px;">
                            </a>
                            {% else %}
                                <a href="{{ path('security_login') }}">
                                    <i class="material-icons" style="color: #EB5757">favorite_border</i>
                                </a>
                                {% endif %}
                            <a href="#">
                                <i class="material-icons" style="color: #2D9CDB">share</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l8">
        {% else %}
            <div class="col s12">
            {% endif %}
            {% for observe in observes %}
            <div class="observecard col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ observe.img }}">
                        <span class="card-title">{% if observe.ref.nomVern is defined %}{{ observe.ref.nomVern }}{% elseif observe.ref.lbNom is defined %}{{ observe.ref.lbNom }}{% else %}Non identifié{% endif %}</span>
                        <a href="{{ path('app_view_observe', {id: observe.id}) }}" class="btn-floating halfway-fab waves-effect waves-light orange darken-1"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content row">
                        <div class="col s7 xl8">
                            <div class="row" style="margin-bottom: 0">
                                <span class="truncate" style="font-size: 12px">Observé le {{ observe.createdAt|localizeddate('long', 'none') }}</span>
                            </div>
                            <div class="row" style="margin-bottom: 0">
                                <span class="truncate" style="font-size: 12px">{% if observe.author.nickname is defined %}{{ observe.author.nickname }}{% else %}{{ observe.author.email }}{% endif %}{% if observe.author.nickname is empty %}{{ observe.author.email }}{% endif %}</span>
                            </div>
                        </div>
                        <div class="col s4 l5 xl4 right-align" style="padding-right: 0; padding-top: 15px;">
                            <span class="js-like-observe-count" style="position: relative; bottom: 8px; font-size: 12px">{{ observe.upvoter.count }}</span>
                            {% if is_granted('ROLE_USER')%}
                            <a class="js-like-observe" href="{{ path('toggle_observe_heart', {id: observe.id}) }}">
                                <i id="observeheart" data-url="{{ path('get_observe_like_status') }}" data-id="{{ observe.id }}" class="material-icons" style="color: #EB5757">favorite_border</i>
                                <img id="ajaxLoading" src="{{ asset('img/ajaxLoader/ajaxloader.gif') }}" style="display: none; margin-bottom: 4px;">
                            </a>
                            {% else %}
                                <a href="{{ path('security_login') }}">
                                    <i class="material-icons" style="color: #EB5757">favorite_border</i>
                                </a>
                                {% endif %}
                            <a href="#">
                                <i class="material-icons" style="color: #2D9CDB">share</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% for flash in app.flashes('homepage') %}
        $(function() {
            M.toast({html: '<span>{{ flash }}</span>'});
        });
        {% endfor %}
    </script>
    <script src="{{ asset('js/homepage.js') }}"></script>
{% endblock %}