{% extends 'base.html.twig' %}

{% block title %}NAO - Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>

    <div class="carousel carousel-slider fullscreen">
        <a class="carousel-item" href="#one!"><img src="{{ asset('img/carousel/1.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ asset('img/carousel/2.jpg') }}"></a>
        <a class="carousel-item" href="#three!"><img src="{{ asset('img/carousel/3.png') }}"></a>
        <a class="carousel-item" href="#four!"><img src="{{ asset('img/carousel/4.jpg') }}"></a>
        <a class="carousel-item" href="#five!"><img src="{{ asset('img/carousel/5.jpg') }}"></a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let elem = document.querySelector('.carousel');
        let instance = M.Carousel.init(elem, {
            fullWidth: true,
            indicators: true,
        });
    </script>
{% endblock %}